{% extends 'layouts/base.html' %}

{% block title %}Asignaciones{% endblock %}

{% block page_title %}Asignaciones{% endblock %}

{% block breadcrumb_items %}
<li>
    <i class="fas fa-chevron-right text-gray-300 text-xs mx-2"></i>
    <a href="{% url 'program-list' %}" class="flex items-center gap-2 text-gray-500 hover:text-blue-600 transition-colors duration-200">
        <i class="fas fa-window-restore text-xs"></i>
        <span>Programas</span>
    </a>
</li>
<li>
    <i class="fas fa-chevron-right text-gray-300 text-xs mx-2"></i>
    <span class="flex items-center gap-2 text-blue-600 font-semibold">
        <i class="fas fa-tasks text-xs"></i>
        <span>{{ program.title }}</span>
    </span>
</li>
{% endblock %}

{% block title-header %}
<div class="flex items-center gap-3">
    <div class="bg-gradient-to-r from-orange-600 to-red-600 p-3 rounded-xl shadow-lg">
        <i class="fas fa-tasks text-white text-xl"></i>
    </div>
    <div>
        <h1 class="text-2xl font-bold text-gray-800">Asignaciones</h1>
        <p class="text-sm text-gray-600">{{ program.title }}</p>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="">  
    <div class="card-body">
        <div class="flex justify-between items-center mb-4">
            <h2 class="card-title">Listado de Asignaciones del Programa: {{ program.title }}</h2>
            <div>
                <button class="btn btn-primary"
                    hx-get="{% url 'assignment-create-program' program.id %}"
                    hx-target="#modal-assignment-form-content"
                    hx-swap="innerHTML"
                    hx-trigger="click"
                    onclick="add_assignment_modal.showModal()">
                    Agregar
                </button>
            </div>
        </div>
        <div class="overflow-x-auto">
            <div id="tabla-assignments"
                 hx-get="{% url 'assignment-list-program' program.id %}"
                 hx-trigger="load, assignmentCreated from:body, assignmentUpdated from:body, assignmentDeleted from:body, reload-table from:body"
                 hx-target="#tabla-assignments"
                 hx-swap="innerHTML">
                {% include 'assignments/partials/assignment_list.html' %}
            </div>
        </div>
    </div>
</div>
{% include "assignments/create_modal.html" %}
{% include "assignments/edit_modal.html" %}
{% endblock %}
