<dialog id="edit_contract_modal" class="modal">
    <div class="modal-box w-11/12 max-w-5xl">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" onclick="list_contract_modal.showModal();">✕</button>
        </form>
        <div class="flex justify-between items-center mb-4">
            <h2 class="card-title">Editar contrato</h2>
        </div>
        <div 
            id="modal-contract-edit-form-content" 
        >
            Cargando formulario...
        </div>
    </div>
</dialog>