{% extends 'layouts/base.html' %}

{% block title %}Clientes{% endblock %}

{% block title-header %}Clientes{% endblock %}

{% block content %}
<div class="">  
    <div class="card-body">
        <div class="flex justify-between items-center mb-4">
            <h2 class="card-title title-main">Clientes</h2>
            <button class="btn btn-primary" onclick="add_client_modal.showModal()">Agregar</button>
        </div>
        <div class="table-container">
            <div id="tabla-clientes"
                 hx-get="{% url 'client-list' %}" 
                 hx-trigger="load, clientCreated from:body, reload-table from:body"
                 hx-target="#tabla-clientes" 
                 hx-swap="innerHTML">
                <div style="width: 100%; text-align: center; padding: 10px 5px; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                    Cargando clientes...
                </div>
            </div>
        </div>
    </div>
</div>

{% include "clients/create_modal.html" %}
{% include "clients/edit_modal.html" %}
{% include "clients/contract_modal.html" %}
{% include "clients/create_contract_modal.html" %}
{% include "clients/edit_contract_modal.html" %}
{% endblock %}