<form id="assignment-delete-form" method="post" hx-delete="" hx-target="#tabla-assignments" hx-swap="innerHTML" data-form-type="assignment-delete" class="space-y-4">
    {% csrf_token %}
    <p>¿Estás seguro que deseas eliminar esta asignación?</p>
    <div class="modal-action">
        <button type="submit" class="btn btn-error">Eliminar</button>
        <button type="button" class="btn" onclick="delete_assignment_modal.close()">Cancelar</button>
    </div>
</form>

<script>
    function openDeleteAssignmentModal(id, isGeneral) {
        const modal = document.getElementById('delete_assignment_modal');
        const form = document.getElementById('assignment-delete-form');
        
        // Setear la URL de eliminación
        form.setAttribute('hx-delete', `/management/assignments/delete/${id}/`);
        
        // Cambiar el target según la vista
        if (isGeneral) {
            form.setAttribute('hx-target', '#tabla-assignments-general');
        } else {
            form.setAttribute('hx-target', '#tabla-assignments');
        }
        
        modal.showModal();
    }
</script>
