{% extends 'layouts/base.html' %}

{% block title %}Programas{% endblock %}

{% block title-header %}Programas{% endblock %}

{% block content %}
<div class="">  
    <div class="card-body">
        <div class="flex justify-between items-center mb-4">
            <h1 class="card-title">Listado de Programas</h1>
            <button class="btn btn-primary"
                hx-get="{% url 'program-create' %}"
                hx-target="#modal-program-form-content"
                hx-swap="innerHTML"
                hx-trigger="click"
                onclick="add_program_modal.showModal()">
                Agregar
            </button>
        </div>
        <div class="table-container">
            <div id="tabla-programs"
                 hx-get="{% url 'program-list' %}"
                 hx-trigger="load, programCreated from:body, programUpdated from:body, programDeleted from:body, reload-table from:body"
                 hx-target="#tabla-programs"
                 hx-swap="innerHTML">
                {% include 'programs/partials/program_list.html' %}
            </div>
        </div>
    </div>
</div>

{% include 'programs/create_modal.html' %}
{% include 'programs/edit_modal.html' %}
{% include 'programs/delete_modal.html' %}
{# Eliminar cualquier script SweetAlert centralizado, modularidad como portfolio #}
{% endblock %}
