{% extends 'layouts/base.html' %}

{% block title %}Portafolio{% endblock %}

{% block title-header %}Portafolio{% endblock %}

{% block content %}
<div class="card card-border bg-base-100">  
    <div class="card-body">
        <div class="flex justify-between items-center mb-4">
            <h2 class="card-title">Portafolio {{ contract.client.name }}</h2>
            <div>
                <button class="btn btn-primary" onclick="">Agregar</button>
                <button class="btn btn-secondary" onclick="">Subir excel</button>
                <a class="btn btn-tertiary" href="{% url 'client-list' %}">Volver</a>
            </div>
        </div>
        <div class="overflow-x-auto">
            <div id="tabla-portafolio"
                 hx-get="{% url 'portfolio-list' contract.id %}" 
                 hx-trigger="load, portfolioCreated from:body, reload-table from:body"
                 hx-target="#tabla-portafolio" 
                 hx-swap="innerHTML">
                Cargando portafolio...
            </div>
        </div>
    </div>
</div>

{% endblock %}