{% extends 'layouts/base.html' %}

{% block title %}Portafolio{% endblock %}

{% block title-header %}Portafolio{% endblock %}

{% block content %}
<div class="">  
    <div class="card-body">
        <div class="flex justify-between items-center mb-4">
            <h2 class="card-title title-main">Portafolio {{ contract.client.name }}</h2>
            <div>
                <button class="btn btn-primary" onclick="add_portfolio_modal.showModal()">Agregar</button>
                <button class="btn btn-secondary" onclick="">Subir excel</button>
                <a class="btn btn-tertiary" href="{% url 'client-list' %}">Volver</a>
            </div>
        </div>
        <div class="table-container">
            <div id="tabla-portafolio"
                 hx-get="{% url 'portfolio-list' contract.id %}" 
                 hx-trigger="load, portfolioCreated from:body, reload-table from:body"
                 hx-target="#tabla-portafolio" 
                 hx-swap="innerHTML">
                <div style="width: 100%; text-align: center; padding: 10px 5px; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                    Cargando portafolio...
                </div>
            </div>
        </div>
    </div>
</div>

{% include "portfolio/create_modal.html" with contract=contract %}
{% include "portfolio/edit_modal.html"%}
{% endblock %}