{% extends 'layouts/base.html' %}

{% block title %}Deudores{% endblock %}

{% block page_title %}Deudores{% endblock %}

{% block breadcrumb_items %}
<li>
    <i class="fas fa-chevron-right text-gray-300 text-xs mx-2"></i>
    <span class="flex items-center gap-2 text-blue-600 font-semibold">
        <i class="fas fa-user-tie text-xs"></i>
        <span>Deudores</span>
    </span>
</li>
{% endblock %}

{% block title-header %}
<div class="flex items-center gap-3">
    <div class="bg-gradient-to-r from-red-600 to-pink-600 p-3 rounded-xl shadow-lg">
        <i class="fas fa-user-tie text-white text-xl"></i>
    </div>
    <div>
        <h1 class="text-2xl font-bold text-gray-800">Gestión de Deudores</h1>
        <p class="text-sm text-gray-600">Base de datos de deudores</p>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="">
    <div class="card-body">
        <div class="flex justify-between items-center mb-4">
            <h2 class="card-title title-main">Deudores</h2>
            <div>
                <button class="btn btn-primary" hx-get="{% url 'debtor-create' %}" hx-target="#modal-form-content"
                    hx-swap="innerHTML" hx-trigger="click"
                    onclick="setTimeout(function(){ add_debtor_modal.showModal(); }, 100)">
                    Agregar
                </button>
                <a class="btn btn-tertiary" href="{% url 'portfolio-list-general' %}">Volver</a>
            </div>
        </div>
        <div class="table-container">
            <div id="tabla-deudores" hx-get="{% url 'debtor-list' %}"
                hx-trigger="load, reload-table from:body"
                hx-target="#tabla-deudores" hx-swap="innerHTML">
                Cargando deudores...
            </div>
        </div>
    </div>
</div>

{% include "debtors/create_modal.html" %}
{% include "debtors/edit_modal.html" %}
{% endblock %}