<dialog id="add_user_modal" class="modal">
    <div class="modal-box w-11/12 max-w-5xl">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        
        <div 
            id="modal-form-content" 
            hx-get="{% url 'user-create' %}" 
            hx-trigger="load" 
            hx-target="#modal-form-content" 
            hx-swap="innerHTML"
        >
            Cargando formulario...
        </div>
    </div>
</dialog>