{% extends 'layouts/base.html' %}

{% block title %}Usuarios{% endblock %}

{% block page_title %}Usuarios{% endblock %}

{% block breadcrumb_items %}
<li>
    <i class="fas fa-chevron-right text-gray-300 text-xs mx-2"></i>
    <span class="flex items-center gap-2 text-blue-600 font-semibold">
        <i class="fas fa-user text-xs"></i>
        <span>Usuarios</span>
    </span>
</li>
{% endblock %}

{% block title-header %}
<div class="flex items-center gap-3">
    <div class="bg-gradient-to-r from-indigo-600 to-blue-600 p-3 rounded-xl shadow-lg">
        <i class="fas fa-user text-white text-xl"></i>
    </div>
    <div>
        <h1 class="text-2xl font-bold text-gray-800">Gestión de Usuarios</h1>
        <p class="text-sm text-gray-600">Administra usuarios del sistema</p>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="">  
    <div class="card-body">
        <div class="flex justify-between items-center mb-4">
            <h1 class="card-title title-main">Usuarios</h1>
            <button class="btn btn-primary" onclick="add_user_modal.showModal()">Agregar</button>
        </div>
        <div class="table-container">
            <div id="tabla-usuarios"
                 hx-get="{% url 'user-list' %}" 
                 hx-trigger="load, userCreated from:body, reload-table from:body"
                 hx-target="#tabla-usuarios" 
                 hx-swap="innerHTML">
                 <div style="width: 100%; text-align: center; padding: 10px 5px; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                     Cargando usuarios...
                 </div>
            </div>
        </div>
    </div>

    {% include "users/create_modal.html" %}
    {% include "users/edit_modal.html" %}
</div>
{% endblock %}